.sign-in {
    position: fixed; 
    top: 10%; 
    left: 0; 
    right: 0; 
    min-height: 400px;
    height: auto;
    width: 360px;
    text-align: center; 
    margin: 0 auto;
    padding: 30px 20px;
    box-sizing: border-box;
    background: #fff;   
    box-shadow: 0 0 5px #ccc;
    z-index: 2;
}

.sign-in .logo {
    height: 200px;
}

.heading {
    font: 700 18px 'Lato'; 
}

.overlay {
    z-index: 1; 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    height: 100%;
    width: 100%;
    background: #333;
}

input:-webkit-autofill-selected {
    background: #d9ffbc !important;
}

#user-invalid {
    width: 80%;
    margin: 0 auto 5px;
    color: rgb(168, 21, 21);
    font-style: italic;
    font-size: 14px;
}

form input {
    display: block; 
    margin: 10px auto; 
    border-radius: 12px; 
    height: 35px;
    width: 200px;
    padding: 5px;
    box-sizing: border-box;
}

form input:focus {
    outline: none; 
    /* background: #d9ffbc; */
    /* border: 2px solid #6e8f56 */
}

form button {
    width: 200px;
    height: 40px;
    padding: 5px;
    border-radius: 12px;
    background: #0B8343; 
    color: #fff;
    font-weight: 700; 
    text-transform: uppercase;
    cursor: pointer;
}

form button:focus {
    outline: none; 
}

.swap-sign-in {
    margin: 20px auto 0;
    color: rgb(28, 158, 209); 
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

.signout-btn {
    width: 200px;
    height: 40px;
    padding: 5px;
    border-radius: 8px;
    background: #83810b; 
    border: 1px solid #83810b; 
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 30px;
}

.signout-btn:hover  {
    color: #83810b; 
    background: #fff;
}

.signout-btn:focus {
    outline: none; 
}